
.nav-item .nav-link 
{
  color: var(--cor7);
  font-size: 18px;
  margin: 20px;
  padding: 7px 17px 7px 17px;
  border-radius: 12px;
}

.nav-item .nav-link:hover
{
  color: var(--cor6);
  background-color: var(--cor7);
  transition: .5s;
}
