
.bg-custom
{
  background-color: #98D1E2;
}

.nav-item .nav-link 
{
  color: black;
  font-size: 18px;
  margin: 20px;
  padding: 7px 17px 7px 17px;
  border-radius: 12px;
}

.nav-item .nav-link:hover
{
  color: white;
  background-color: black;
  transition: .5s;
}
