<section class="landing">
    <div class="secao-img-landing">
    </div>
    <div class="info-landing">
        <div class="texto-landing">
            <h1>INVERTEC ® Automação Industrial</h1>
            <p>Faça da usa empresa uma referência!</p>
            <button type="button" class="btn btn-info">Conheça nossos serviços</button>
        </div>
    </div>
</section>

<section class="row info-empresa d-flex justify-content-center">
    <h2 class="text-center mb-5 texto-topico">A melhor solução para a sua empresa!</h2>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/_img/servicos/placa.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption custom d-none d-md-block">
              <h5>INVERTEC ® Automação Industrial</h5>
              <p>Assistência técnica altamente qualificada!</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../../assets/_img/servicos/montagem-painel.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption custom d-none d-md-block">
              <h5>INVERTEC ® Automação Industrial</h5>
              <p>Conheça nossos trabalhos de RETROFITTING: organização e reutilização</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../../assets/_img/servicos/automacao.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption custom d-none d-md-block">
              <h5>INVERTEC ® Automação Industrial</h5>
              <p>Faça da sua empresa uma referência!</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</section>

<section class="row info-empresa d-flex justify-content-center">
    <h2 class="text-center mb-5 texto-topico">O que podemos lhe oferecer?</h2>
    <div class="img-info"></div>
    <div class="texto-info">
        <p>
        A INVERTEC ® Automação Industrial, trabalha para melhor atender qualquer necessidade que sua empresa necessite dentro da área eletroeletrônica e automação industrial. Possuímos uma equipe altamente qualificada, pronta para melhor atende-lo e levar soluções para seu ambiente de trabalho.
        <br>    
        Trabalhamos com a mais alta tecnologia de informação e automação. Nossa equipe altamente qualificada possui o conhecimento em diversas áreas da automação industrial, por isso hoje somos uma referência no ramo.
        <br>
        Credibilidade e confiança em nosso trabalho nos fazem ter um relacionamento sólido e transparente com o cliente. Confira alguns serviços prestados pela INVERTEC ®.</p>
    </div>
</section>

