<section class="landing">
    <div class="secao-img-landing">
    </div>
    <div class="info-landing">
        <div class="texto-landing">
            <h1>INVERTEC ® Automação Industrial</h1>
            <p>Faça da usa empresa uma referência!</p>
            <button type="button" class="btn btn-info">Conheça nossos serviços</button>
        </div>
    </div>
</section>


<section class="row info-empresa d-flex justify-content-center">
    <h2 class="text-center mb-5">A melhor solução para a sua empresa!</h2>
    <div class="img-info"></div>
    <div class="texto-info">
        <p>A INVERTEC ® Automação Industrial, trabalha para melhor atender qualquer necessidade que sua empresa necessite dentro da área eletroeletrônica e automação industrial. <br>Possuímos uma equipe altamente qualificada, pronta para melhor atende-lo e levar soluções para seu ambiente de trabalho.</p>
    </div>
</section>

<section class="oferta-servico">
    <h2 class="text-center">O que podemos lhe oferecer?</h2>
    <!-- TODO: -->
</section>