.landing
{
    background-image: url('../../../assets/_img/bg/automation/img-xg.jpg');
    min-height: 90vh;
    background-position: center top;
    background-size: cover;
    display: flex;
}

.info-landing
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.texto-landing
{
    width: 80%;
    padding: 20px 20px 20px 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.479);
}

.texto-landing h2
{
    font-weight: 600;
}

.texto-landing p
{
    font-size: 18px;
    font-weight: 400;
}

@media screen and (max-width: 700px) 
{
    .landing
    {
        background-image: url('../../../assets/_img/bg/automation/img-p.jpg');
    }
    .info-landing
    {
        width: 100%;
        align-items: flex-end;
        margin-bottom: 30px;
    }

}
