.landing
{
    background-image: url('../../../assets/_img/bg/automation/img-xg.jpg');
    min-height: 90vh;
    background-position: center top;
    background-size: cover;
    display: flex;
}

.info-landing
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.texto-landing
{
    width: 80%;
    padding: 20px 20px 20px 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.479);
}

.texto-landing h1
{
    font-weight: 600;
}

.texto-landing p
{
    font-size: 18px;
    font-weight: 400;
}


.row
{
    margin-right: 0;
    margin-left: 0;
}

.info-empresa
{
    margin-top: 15rem;
    margin-bottom: 15rem;
}

.img-info
{
    background-image: url('../../../assets/_img/maquinario/img-m.png');
    height: 386px;
    width: 700px;
}

.texto-info
{
    display: grid;
    font-size: 20px;
    align-items: center;
    width: 50%;
    background-color: #73d8f436;
    padding: 20px 20px 20px 20px;
    border-radius: 15px;
}

.btn-custom
{
    width: 30%;
}


#carouselExampleCaptions
{
    width: 60%;
}

.texto-topico
{
    font-weight: 700;
}

.custom
{
    background-color: rgba(0, 0, 0, 0.562);
}



.link
{
    text-decoration: none;
    color: var(--cor8);
}



@media screen and (max-width: 700px) 
{
    .landing
    {
        background-image: url('../../../assets/_img/bg/automation/img-p.jpg');
    }
    .info-landing
    {
        width: 100%;
        align-items: flex-end;
        margin-bottom: 30px;
    }
    .texto-info
    {
        width: 100%;
        font-size: 15px;
    }
    .img-info
    {
        background-image: url('../../../assets/_img/maquinario/img-p.png');
        width: 500px;
        height: 275px;
    }

    #carouselExampleCaptions
    {
        width: 100%;
    }

    .info-empresa
    {
        margin-top: 7rem;
        margin-bottom: 7rem;   
    }
}

@media screen and (max-width: 500px) 
{
    .img-info
    {
        background-image: url('../../../assets/_img/maquinario/img-pp.png');
        width: 300px;
        height: 165px;
    }
}