<div class="container mt-5 mb-5 custom-height">
  <section>
    <div class="five">
      <h1>Invertec Automação Industrial
        <span>Há mais de 10 anos prestando a você serviços e melhorias!</span>
      </h1>
    </div>
  </section>

  <article class="three mt-5 mb-5" id="sobre-nos-container">

    <div class="texto-sobre-nos">
      <h1 class="mb-3">Nossa história</h1>
      <p> A empresa Invertec manutenção industrial surgiu no ano de 2001 com o intuito de prestar serviços na área de manutenção eletrônica industrial. </p>
      <p>Observando uma crescente necessidade de melhoria nos processos industriais das empresas do vale do Itajaí, e carência de profissionais no mercado de automação eletroeletrônica, procuramos nos especializar nesse segmento buscando constantes aperfeiçoamentos no que existe de mais moderno em termos de automação industrial. </p>
      <p>Hoje atuamos nos mais diversos segmentos industriais, nos quais podemos destacar: metalúrgica, têxtil, plásticos, alimentícia, hospitalar entre outros, além de trabalhos em parceria com fabricantes de máquinas.</p>
    </div>
    <div class="img-sobre-nos"></div>
  </article>
</div>
